@use 'variables' as v;

h1,h2,h3{
    font-family: v.$fuentePrincipal;
    
    color: v.$primario;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 3rem;
}

p{
    color: v.$secundario;
}