
// colores
$primario: rgb(76, 84, 93);
$secundario: rgb(159, 171, 178);
$verde: rgb(38, 186, 164);
$azul: rgb(97, 115, 255);
$negro:#000;
$blanco:#fff;


//fuentes

$fuentePrincipal:'Bai Jamjuree', sans-serif;

//Media Queries

$telefono: 375px;
$tablet:768px;
$desktop:1440px;
